html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  -webkit-tap-highlight-color: transparent;
}
* img {
  box-sizing: border-box;
  max-width: 100%;
}
html, body {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  font: inherit;
  font-size: 100%;
  font-family: var(--text-font-family);
  color: var(--on-background);
  background-color: var(--background);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--title-font-weight);
  font-family: var(--display-font-family);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  height: 72px;
  margin: 0 auto;
}
header div {
  display: flex;
  align-items: center;
  height: 72px;
  margin-right: auto;
  padding-left: 24px;
}
header a img {
  vertical-align: middle;
  margin-right: 16px;
  border-radius: 50%;
  height: 24px;
}
header .site-title {
  display: inline;
  font-family: var(--display-font-family);
  font-size: 16px;
  font-weight: var(--title-font-weight);
  line-height: 24px;
  color: var(--on-background);
}

main {
  margin: 0 auto;
  max-width: 1240px;
}

/* card grid */

#card-set {
  margin-bottom: 80px;
  padding-top: 8px;
  display: grid;
  grid-gap: 8px;
  gap: 8px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: minmax(320px, auto);
}
.card {
  grid-column: span 2;
  vertical-align: middle;
}
.card a {
  justify-content: start;
  flex-direction: column-reverse;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: border-radius .3s cubic-bezier(.2, 0, 0, 1), background-color .3s cubic-bezier(.2, 0, 0, 1);
  border-radius: 24px;
  background: var(--primary-container);
  color: var(--on-primary-container);
  text-decoration: none;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  font-variation-settings: 'GRAD' 0;
}
.card-content {
  display: grid;
  position: relative;
  align-self: start;
  margin: 24px;
  grid-gap: 8px;
  gap: 8px;
}
.card-title {
  font-family: var(--display-font-family);
  font-size: var(--headline-s-font-size);
  line-height: var(--headline-s-line-height);
}
.card-date {
  font-family: var(--text-font-family);
  max-width: 640px;
}
.card-categories {
  margin-top: 0.2rem;
  display: flex;
  gap: 1rem;
}
.card-category {
  padding: 0.4rem 0.8rem;
  border-radius: var(--border-radius);
  background-color: var(--primary);
  color: var(--on-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

/* footer */
footer {
  background: var(--tertiary-container);
  margin: 10rem 0 -3rem 0;
  padding: 2rem 2.5rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-size: 1.2rem;
  color: var(--on-tertiary-container);
}