:root {
  /* color */
  --primary: #6750a4;
  --on-primary: #fff;
  --primary-container: #eaddff;
  --on-primary-container: #21005d;

  --secondary: #625b71;
  --on-secondary: #fff;
  --secondary-container: #e8def8;
  --on-secondary-container: #1d192b;

  --tertiary: #7d5260;
  --on-tertiary: #fff;
  --tertiary-container: #ffd8e4;
  --on-tertiary-container: #31111d;

  --error: #b3261e;
  --on-error: #fff;
  --error-container: #ffd8e4;
  --on-error-container: #410e0b;

  --background: #fffbfe;
  --on-background: #1c1b1f;
  --surface: #fffbfe;
  --on-surface: #1c1b1f;

  --outline: #79747e;
  --surface-variant: #e7e0ec;
  --on-surface-variant: #49454f;

  /* typography */
  --display-font: 'Google Sans', sans-serif;
  --regular-font: 'Google Sans Text', sans-serif;
  --mono-font: 'Google Sans Mono', mono;
}