<!doctype html>
<html lang='en'>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class='blogfeed'>
      <section id='card-set'>
        {% for post in site.posts %}
        <!--  -->
        {% if post.thumbnail %}
        <div class='card'>
          <a href='{{site.baseurl}}{{post.url}}'>
            <img src='{{site.baseurl}}{{post.thumbnail}}' class='card-thumbnail' />
            <div class='card-content'>
              <span class='card-title'>{{post.title}}</span>
              <span class='card-date'>{{post.date | date_to_string}}</span>
            </div>
          </a>
        </div>
        {% else %}
        <div class='card'>
          <a href='{{site.baseurl}}{{post.url}}'>
            <div class='card-thumbnail'></div>
            <span class='card-title'>{{post.title}}</span>
            <span class='card-date'>{{post.date | date_to_string}}</span>
          </a>
        </div>
        {% endif %}
      </section>
      {% endfor %}
      <!--  -->
    </main>
    {% include footer.html %}
    {% include category-modal.html%}
  </body>
</html>