<!doctype html>
<html lang='en'>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class='blogfeed'>
      <section id='card-set'>
        {% for post in site.posts %}
        <!--  -->
        {% if post.thumbnail %}
        <article class='card'>
          <a href='{{site.baseurl}}{{post.url}}'>
            <div class='card-content'>
              <span class='card-title'>{{post.title}}</span>
              <span class='card-date'>{{post.date | date_to_string}}</span>
              <div class='card-categories'>
                <div class='card-categories'>
                  {% for c in post.categories %}
                  <h1>
                    <a href='#!' data-base-url='{{site.baseurl}}' class='card-category'>{{c}}</a>
                  </h1>
                  {% endfor %}
                </div>
              </div>
            </div>
          </a>
        </article>
        {% else %}
        <article class='card'>
          <a href='{{site.baseurl}}{{post.url}}'>
            <span class='card-title'>{{post.title}}</span>
            <small class='card-date'>{{post.date | date_to_string}}</small>
            <div class='card-categories'>
              <div class='card-categories'>
                {% for c in post.categories %}
                <a href='#!' data-base-url='{{site.baseurl}}' class='card-category'>{{c}}</a>
                {% endfor %}
              </div>
            </div>
          </a>
        </article>
        {% endif %}
      </section>
      {% endfor %}
      <!--  -->
    </main>
    {% include footer.html %}
    {% include category-modal.html%}
  </body>
</html>