<!doctype html>
<html lang='en-US'>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class='blogfeed'>
      <section id='article'>
        {% if page.thumbnail %}
        <!--  -->
        {% assign page_thumbnail = page.thumbnail %}
        <!--  -->
        {% else %}
        <!--  -->
        {% assign page_thumbnail = '/assets/images/pattern.png' %}
        <!--  -->
        {% endif %}
        <div class='article-thumbnail' style="background-image: url('{{ site.baseurl }}/{{ page_thumbnail }}');">
          <h1 class='article-title title-large background-text'>{{ page.title }}</h1>
          <div class='article-bottom'>
            <small class='article-date title-small background-text'>{{page.date | date_to_string}}</small>
          </div>
        </div>
        <div class='article-content body-medium'>{{content}}</div>
      </section>
      {% include footer.html %}
    </main>
  </body>
</html>